{% load static %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Demo Project</title>
	<meta charset="utf-8" />
	<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>

	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
		crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<noscript>
		<link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
</head>

<body class="is-preload">

	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="{% url 'home' %}">Logo</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'home2' %}">Home2</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<!-- <h2>Elements</h2>
							<p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p> -->
					{% block head %}
					{% endblock %}
				</header>

				<!-- section -->
				<section>
					{% block content %}
					{% endblock %}
				</section>

			</div>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<!--	<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li> -->
				<li><a href="#" class="icon brands alt fa-facebook-f"><span
							class="label">Facebook</span></a></li>
				<!-- <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>-->
				<!--  <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>-->
				<!--  <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>-->
				<!--  <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>-->
			</ul>
			<ul class="copyright">
				<li>All rights reserved.</li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>


</body>

</html>