{% extends 'base.html' %}
{% block head %}
<h2>Home2</h2>
{% endblock %}
{% block content %}

{% if invoices %}
<h3>Submitted Invoices</h3>
{% for invoice in invoices %}
{{invoice.name}}<br>
{% endfor %}
{% endif %}

<br><br>
<h3>Form</h3>
<div class="contact-us">
    <form class='site-form' action="{%url 'home2' %}" method="post">
        {%csrf_token%}
        {{form}}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}