{% extends 'base.html' %}
{% block head %}
<h2>Home</h2>
{% endblock %}
{% block content %}
{{normal_var}}
{% if bool_var %}
<p>this is true</p>
{% endif %}

{% if country == "Egypt" %}
<p>yes it is egypt</p>
{% endif %}

{% for number in list %}
{{number}}
{% endfor %}
<br>
<br>
<br>
{% for key,value in dict.items %}

{{key}}<br />
{{value}}<br />

{% endfor %}

{% endblock %}